node_modules/
.cache/
build/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db

# Local Netlify folder
.netlify

# IDE / editor
.vscode/
.claude/

# Data files
public/data/*.pmtiles
*.pmtiles
